:root {
    --periwinkle: hsla(234, 52%, 85%, 1);
    --rose-quartz: hsla(254, 14%, 70%, 1);
    --mountbatten-pink: hsla(322, 14%, 58%, 1);
    --charcoal: hsla(210, 18%, 31%, 1);
    --charcoal-light: hsla(210, 18%, 71%, 1);
    --licorice: hsla(334, 59%, 8%, 1);
    }

body {
    background: var(--periwinkle);
    color: var(--licorice);
    line-height: 30px;
    font-size: 20px;
    font-family: sans-serif;
    padding: 25px 50px;
  }
  
  /* code {
    color: #09507c;
    background: #deedf2;
    padding: 2px 10px;
    border-radius: 10px;
  } */
  
  a {
    color: var(--charcoal);
  }
  a:hover {
    color: var(--charcoal-light);
  }
  